*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: green;
    color: rgb(20, 211, 3);
    font-size: 25px;
    border-bottom: solid 2px rgb(52, 52, 172);
    padding: 20px;
}

.chamada{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.chamada_texto{
    margin-right: 5px;
}